<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    if (result) {
        result[0] = result[0].charAt(0).toLocaleUpperCase() + result[0].slice(1);
    }

    return result;
}

let col_size = (pizza.big_size && pizza.small_size) ? "col-6" : "col-12";
let ingredients = getIngredientsArray(pizza).join(", ");
   %>

<div class="col-12 col-sm-6 col-md-4">
    <div class="thumbnail pizza-card border rounded">
        <img src="<%= pizza.icon %>" alt="pizza">

        <h3><%= pizza.title %></h3>
        <div class="pizza-type"><%= pizza.type %></div>
        <p class="ingredients" data-toggle="tooltip" data-placement="bottom" title="<%= ingredients %>"><%= ingredients %></p>

        <div class="row">
            <% if (pizza.small_size) { %>
            <div class="<%= col_size %>">
                <div class="text-center">
                    <img class="pizza-icon" src="assets/images/size-icon.svg" alt="Size:"/>
                    <span><%= pizza.small_size.size %></span>
                </div>
                <div class="text-center">
                    <img class="pizza-icon" src="assets/images/weight.svg" alt="Weight:"/>
                    <span><%= pizza.small_size.weight %></span>
                </div>
                <div class="text-center price">
                    <div class="money"><%= pizza.small_size.price %></div>
                    <div>грн.</div>
                </div>
                <div class="text-center mt-2">
                    <div class="btn btn-warning buy-small">Купити</div>
                </div>
            </div>
            <% } %>
            <% if (pizza.big_size) { %>
            <div class="<%= col_size %>">
                <div class="text-center">
                    <img class="pizza-icon" src="assets/images/size-icon.svg" alt="Size:"/>
                    <span><%= pizza.big_size.size %></span>
                </div>
                <div class="text-center">
                    <img class="pizza-icon" src="assets/images/weight.svg" alt="Weight:"/>
                    <span><%= pizza.big_size.weight %></span>
                </div>
                <div class="text-center price">
                    <div class="money"><%= pizza.big_size.price %></div>
                    <div>грн.</div>
                </div>
                <div class="text-center mt-2">
                    <div class="btn btn-warning buy-big">Купити</div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
